




$palet:(
#F42,
#E16,
#91B,
#63B,
#34B,
#19F,
#0AF,
#0BD,
#098,
#4B4,
#8C4,
#CD2,
#FE1,
#FC0,
#F90,
#F50,
#754,
#999,
#222




	);
$white-color:#cdcdcd;
$black-color:#222222;
$orange-color:#ff9900;


